body {
  margin: 0;
  background: linear-gradient(160deg, #4c6ef5, #15aabf);
  font-family: Arial, sans-serif;
  color: white;
}

.quiz-card {
  background: rgba(255,255,255,0.2);
  padding: 25px;
  margin: 20px auto;
  width: 60%;
  border-radius: 14px;
  backdrop-filter: blur(10px);
  animation: fadeIn 0.8s ease;
}

.button {
  background: #ff922b;
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  color:white;
  font-size:16px;
  margin-top:10px;
}

.timer {
  font-size: 20px;
  background: rgba(0,0,0,0.3);
  padding: 8px 15px;
  border-radius: 10px;
  display: inline-block;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}
.navbar {
  width: 100%;
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(10px);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 24px;
  font-weight: bold;
}

.nav-btn {
  background: transparent;
  border: none;
  color: white;
  margin-left: 15px;
  font-size: 16px;
  cursor: pointer;
}

.nav-btn:hover {
  text-decoration: underline;
}

.home-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.home-card {
  width: 60%;
  background: rgba(255,255,255,0.2);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

.home-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 18px;
  margin-bottom: 30px;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.home-info {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.8;
}
.form-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.form-card {
  width: 350px;
  padding: 30px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(12px);
  border-radius: 18px;
  text-align: center;
  color: white;
}

.input-box {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.full-btn {
  width: 100%;
  margin-top: 20px;
}
.mode-card {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.mode-btn {
  width: 80%;
  margin: 10px auto;
  padding: 18px;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  background-color: #ff9800;
  color: #000;
  cursor: pointer;
  transition: 0.2s;
}

.mode-btn:hover {
  opacity: 0.8;
}

.mode-btn.practice {
  background-color: #ffa726;
}

.mode-btn.competition {
  background-color: #ff7043;
}

.back-btn {
  background: transparent;
  border: 2px solid #ff9800;
  color: #ff9800;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
